{% extends 'blog/base.html' %}

{% block title %}Search results{% endblock %}

{% block context %}
    <h2>Search results:</h2>
    <hr>
    {% if query %}
        {% for result in page.object_list %}
            <h3>
                &lt&gt<a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
            </h3>
            <div id='date'>Posted on {{ result.object.publish_date }}</div>
            <p>{{ result.object.content }}</p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>Input what you looking for and I will try to find it for you</p>
        {% endif %}
        <hr>
{% endblock %}
