{% extends 'blog/base.html' %}

{% block title %}About Me - Andrey Zalomskiy{% endblock %}

{% block context %}
    <h2 class="about">Who I am?</h2>
    <p class='text'>My name is Andrey Zalomskiy. I am a freelance programer and web developer.
        I moved to New York City in 2001 from Karaganda, Kazakstan.
        Computers have always been my passion. Since early age I started to
        involve myself in different programs to learn more.
        I attended advanced computer programing school while in high school,
        then studied computer sience in Karaganda State Techinical University.
        I started with Basic and Pascal, and then moved to Visual Basic and Delphi.
    </p><br>
    <h2 class="about">What I do?</h2>
    <p class='text'>I develope programs and design websites.</p><br>
    <h2 class="about">How I do it?</h2>
    <p class='text'>I am a tireless seeker of knowledge. A philosopher at heart I study models
        and employ logical patterns throughout my work. I take complex problems
        and turn them into simple solutions. I am a big beliver in joint practices.
        I know computer hardware inside out, this knowledge helps me with programing.
        I fluent in Python, Django frameworks, HTML, CSS, PHP.
        Have outstanding communication skills and through my previous work places gained
        great amount of finance and managerial experience.
    </p>
    <hr>
{% endblock %}
