{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block context %}
    <h2>{{ post.title }}</h2>
    <p>Posted on {{ post.publish_date }} by Andrey Zalomskiy</p>
    <p>{{ post.content }}</p>
    <hr>
    <h3>Comments</h3>
    {% for comment in comments %}
        <header>
            <p><a href="mailto:{{ comment.email }}">{{ comment.name }}</a> on {{ comment.comment_date }}</p>
        </header>
        <p>{{ comment.content }}</p>
    {% endfor %}
    <hr>
    <h3>Post a comment</h3>
    {% if form.errors %}
        <p>Please correct a error {{ form.errors|pluralize }} below.</p>
    {% endif %}
    <form action="/blog/addcomment/{{ post.url }}" method="post">
        <p>
            {{ form.name.errors }}
            <label for="name">Name</label>
            {{ form.name }}
<!--            <input name="name" id="name" type='text' required/>-->
        </p>
        <p>
            {{ form.email.errors }}
            <label for='email'>E-mail</label>
            {{ form.email }}
<!--            <input name='email' id='email' type='email' required/>-->
        </p>
        <p>
            {{ form.comment.errors }}
            <label for='comment'>Comment</label>
            {{ form.message }}
<!--            <textarea name='comment' id='comment' required></textarea>-->
        </p>
        {% csrf_token %}
        <p><input type='submit' value='Post comment'/></p>
    </form>
{% endblock %}
