{% extends 'blog/base.html' %}

{% block title %}My contact information{% endblock %}

{% block context %}
    <h2>Need to contact me? Here are the ways:</h2>
    <address>
        Andrey Zalomskiy<br>
        Tel: 347-348-2680<br>
        E-mail: <a href="mailto:azalomskiy@icloud.com">azalomskiy@icloud.com</a><br>
    </address>
    <h3>or send message</h3>

    {% if form.errors %}
        <p>Please correct the error {{ form.errors|pluralize }} below.</p>
    {% endif %}

    <form action='/blog/contact/' method='post'>
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <p><input type='submit' value='Send message' /></p>
    </form>
    <hr>
{% endblock %}
